<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro de Cliente</title>
    <style
      
body
{   

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
#cadastroForm {
    width: 400px;
    margin: 0 auto;
    background-color: #ffffff9f; 
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}
label {
    font-family: Calibri, sans-serif;
    font-size: 15px;
    color: black;
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
}
#enviarButton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}
#mensagemSucesso {
    text-align: center;
    font-size: 50px;
    color: green;
    margin-top: 20px;
}
    </style>
</head>
